body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #512da8;
}
nav {
  width: 100%;
}
.collapse.navbar-collapse {
  width: 100%;
}
ul.navbar-nav {
  margin-left: auto;
  float: right;
}
.nav-item .nav-link {
  color: rgba(255, 255, 255, 0.75) !important;
  padding: 15px 20px !important;
}
.nav-item .nav-link.active {
  color: white !important;
  padding: 15px 20px !important;
}
.nav-item .btn-outline-secondary {
  color: #d1c4e9;
}
.jumbotron {
  padding: 1rem 1rem !important;
}

.card > a > div > h5 {
  text-decoration: none;
  color: #0f0f0f;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms ease-out;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 500ms ease-in;
}

button.comment {
  color: white;
  background-color: #3667d6;
}
button.comment:hover {
  background-color: #6386d6;
}
